PORT=8080

DATABASE_URL=
JWT_SECRET=
S3_ENDPOINT_URL=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_REGION=us-east-1
COUCHDB_URL=
COUCHDB_USER=
COUCHDB_PASSWORD=
COUCHDB_DATABASE=
APP_ENV=development
